* {
  margin: 0;
  font-family: Work Sans;
}

/* common button styles */
.primary-button {
  border-radius: 8px;
  background: #ff900e;
  width: 180px;
  height: 64px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  margin-bottom: 30px;
}

/* header section styles */
.header-container {
  width: 100%;
  height: 1250px;
  background: rgba(255, 144, 14, 0.1);
  /* padding: 50px; */
}
.nav-menu {
  display: flex;
  justify-content: space-around;
}

.menu-left {
  font-size: 30px;
  margin-top: 50px;
}

.menu-right {
  margin-top: 63px;
}
.menu-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu-items li {
  list-style-type: none;
}

/* brand new section styles */
.brand-new-container {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.brand-new-info {
  margin-bottom: 50px;
}

.brand-new-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand-new-desc {
  color: grey;
}

.banner {
  width: 1440px;
  height: 700px;
}
/* brand new section styles end */

/* features section styles start*/
.feature-container {
  display: flex;
  justify-content: space-around;
  margin: 80px 233px 0 233px;
  gap: 100px;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.team {
  height: 400px;
  width: 400px;
  border-radius: 8px;
}
.feature-info {
  margin: 255px 50px;
}

.quick-list {
  font-size: 45px;
  color: grey;
}
.of-our {
  font-size: 45px;
  font-weight: bold;
}
.features {
  font-size: 45px;
  font-weight: bold;
  color: #ff900e;
  margin-bottom: 20px;
}
.features-desc {
  color: gray;
  margin-bottom: 20px;
}

/* love enjoy styles */
.love-enjoy-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 140px;
  padding: 100px 220px;
}

.love-enjoy-item-1 h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.love-enjoy-item-1 p {
  color: grey;
  margin-bottom: 20px;
}

.love-enjoy-item-2 {
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.love-enjoy-item-2 h2 {
  margin-bottom: 20px;
}

.love-enjoy-item-2 p {
  color: grey;
}

.love-enjoy-image {
  position: relative;
}
.love-enjoy-image img {
  height: 880px;
  width: 700px;
}

.year {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 0;
  padding: 20px;
  /* margin-bottom: 30PX; */
  position: absolute;
  top: 85%;
  /* adjust the top position of the button */
  left: -15%;
}

/* some fact styles */
.some-fact-container {
  padding: 80px 220px;
}
.some-fact-info {
  margin-bottom: 50px;
}
.some-fact-info h2 {
  font-size: 45px;
}
.some-fact-info p {
  width: 542px;
  color: gray;
}
.some-fact-award {
  display: flex;
  gap: 124px;
  justify-content: space-around;
}

.award-items {
  width: 241.831px;
  height: 241.831px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  justify-content: center;
  align-items: center;
}

.award-item {
  margin-top: 55px;
  text-align: center;
}

.award-item h2 {
  font-size: 45px;
  font-weight: 700;
  color: #424242;
}

.award-item p {
  font-family: Work Sans;
  color: #424242;
  font-weight: 600;
}

/* sponsor section styles */
.sponsor-container{
 padding: 80px 220px;
}
.sponsor-info{
  text-align: center;
  margin-bottom: 50px;
}

.sponsor-info h2{
  font-size: 45px;
}

.sponsor-info p {
    text-align: center;
    padding: 0 500px;
    color: grey;
}

.sponsor-client img{
  margin: 0 10px 0 100px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* responsive styles */
/* for header responsive  small device*/
@media screen and (max-width: 576px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  .menu-items {
    flex-direction: column;
  }
  .banner {
    height: 250px;
    width: 250px;
    margin-left: 0;
  }
}
/* feature section responsive*/
@media screen and (max-width: 576px) {
  .feature-container {
    flex-direction: column;
    align-items: center;
  }
  .feature-images {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }
  .feature-info {
    margin: 0;
  }
}

/* love and enjoy section styles */
@media screen and (max-width: 576px) {
  .love-enjoy-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .love-enjoy-container {
    width: 50%;
  }

  .love-enjoy-item-1 {
    padding: 10px;
    /* width: 100%; */
  }

  .love-enjoy-image img {
    width: 100%;
    padding: 5px;
  }
}

/* some fact responsive styles */
@media screen and (max-width: 576px) {
  .some-fact-container {
    padding: 0;
  }

  .some-fact-award {
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
  }

  .some-fact-info p {
    width: 100%;
    margin-left: 10px;
  }
}
